// Fonts
$baseFont: "Nunito Sans", Arial, sans-serif;

// Z-index
$zLayout: default, content, modal;

// Colors
$colorWhite: hsl(0, 0%, 100%);
$colorBlack: #000000;

// Dark mode
$darkColorDarkBlue: hsl(209, 23%, 22%);
$darkColorVeryDarkBlue: hsl(207, 26%, 17%);

// Light mode
$lightColorDarkBlue: hsl(200, 15%, 8%);
$lightColorVeryDarkBlue: hsl(0, 0%, 52%);
$lightColorVeryLightGray: hsl(0, 0%, 98%);

$mediaQueries: (
  MAX_479: "(max-width: 479px)",
  MIN_480: "(min-width: 480px)",
  MIN_768: "(min-width: 768px)",
  MIN_1024: "(min-width: 1024px)",
  MIN_1200: "(min-width: 1200px)",
  MIN_1440: "(min-width: 1440px)",
  MIN_1600: "(min-width: 1600px)",
  MIN_1920: "(min-width: 1920px)",
);
